<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>
	<!-- Database Connection -->
	<connectionStrings>
		<add name="dbcon"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TrafficViolationDB;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<!-- ASP.NET Settings -->
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />

		<!-- Session -->
		<sessionState timeout="30"></sessionState>

		<!-- Error display -->
		<customErrors mode="Off"/>
	</system.web>

</configuration>
