<configuration>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2"/>
		<httpRuntime targetFramework="4.7.2"
					 maxRequestLength="10240"
					 executionTimeout="3600"/>
		<sessionState timeout="30"/>
		<customErrors mode="Off"/>
	</system.web>

	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
	</appSettings>

	<connectionStrings>
		<add name="dbcon"
			 connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=TrafficViolationDB;Integrated Security=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="10485760"/>
			</requestFiltering>
		</security>
	</system.webServer>

</configuration>
